﻿@model IEnumerable<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User List</h2>
                        <a asp-action="Create" class="btn btn-primary">Create New User</a>

                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email </th>
                                <th>Password </th>
                                <th>Role </th>
                                <th>Active </th>
                                <th>Note </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                             
                                <tr class="text-left">
                                    @* <td> @Html.DisplayFor(modelItem => item.StudentId)</td> *@
                                    <td> @Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Email)</td>
                                    <td> @Html.DisplayFor(modelItem => item.PassWord)</td>
                                    <td> @Html.DisplayFor(modelItem => item.RoleId)</td>
                                    <td> @Html.DisplayFor(modelItem => item.IsActive)</td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>  
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

